# Ignore git and version control files
.git
.gitignore

# Ignore local development files
.dockerignore
Dockerfile
README.md

# Ignore node modules and dependency files
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore build artifacts and logs
dist
*.log
*.log.*